.git
.github
.env
.env.*
.venv
.ml-data
.coverage
.coverage.*
.mypy_cache
.pre-commit-cache
.pytest_cache
.ruff_cache
.vscode
__pycache__
*.py[cod]
*.sqlite3
*.sqlite3-journal
htmlcov
media
staticfiles
browser-extension
top1m.csv
ml_models/*.pickle
CONTRIBUTING.md
SECURITY.md
requirements-dev.txt
